 /* * {
  background-color: #f0f0f0;
  cursor: default;
}  */



.two-column-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  
  border-radius: 50px 50px 50px 50px;
}

.column1 {
  width: 95%;
  height: 110px;
  border: 0.5px solid #c4a0ff;
  border-radius: 20px;
  margin: 20px auto;
  padding: 5px 40px;
  background-color: #d5bbff;
  /* background-color: #eee4ff; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.column2 {
  width: 95%;
  margin: -31px 36px;

  height: auto;
  /* height: 700px; */
}

.data {
  height: 69%;
  /* display: flex; */
  align-items: center;

  overflow-y: auto;
  /* max-height: 1596px; */
}
.dataList {
  overflow-y: auto;
  max-height: 350px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.anticon {
  display: inline-flex;
  align-items: center;

  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.inputField {
  /* border: none;
  border-bottom: 1px solid black; */

  border: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease;
  animation: blinkBorder 1s linear infinite;
}
@keyframes blinkBorder {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #3da5b5;
  }
  100% {
    border-color: transparent;
  }
}
.inputField.edit {
  border-bottom: 1px solid #3da5b5;
  width: 100%;
  text-align: center;
  color: #000000;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  height: 75vh;
  overflow-y: auto; /* Add this to enable horizontal scrolling */
}

.custom-table thead {
  position: sticky;
  top: 0;
  z-index: 1;
}
.custom-table th,
.custom-table td {
  border: 1px solid #b2b2b2;
  padding: 8px;
  text-align: center;
  min-width: 50px; /* Set a minimum width for cells to avoid collapsing */
  font-size: 10px;
}

.custom-table th {
  background-color: #d5bbff ;
  /* background-color: #eee4ff ; */
}

/* Style the progress bar */
.ant-progress {
  margin-top: 10px;
}

/* Style the file upload container */
.upload-container {
  margin-top: 20px;
}

/* Style the edit/save button */
.ant-btn {
  margin-right: 5px;
}

.values {
  display: grid;
  grid-template-columns: max-content max-content;
  font-size: 17px;
}

.values > *:nth-child(even)::before {
  content: ": ";
}

.editButton {
  width: 195%;
  margin: 10px 10px 10px 10px;
}
img1 {
  border-radius: 50%;
}

.page-container {
  max-height: 437px;
  overflow-y: auto;
  padding: 10px;
  
}
.rpv-default-layout__main {
  display: flex;
  height: 458px;
  position: relative;
}

.encipher{
  margin-left: 50px;
  margin-top: 10px;
}
.validator{
  margin-top: 10px;
}

.btn-secondary {
  color: #fff;
  background-color: #fa9f2e;
  /* border-color: #6c757d; */
  border: none;
}

/* Custom styles for the button */
.custom-btn {
  /* Set the default button color */
  color: #fa9f2e; /* Primary color */

  /* Set the border color for the outline button */
  border-color: #e08515; /* Primary color */

  /* Set the background color to transparent for the outline effect */
  /* background-color: transparent; */

  /* Add transition for a smooth hover effect */
  /* transition: color 0.3s, background-color 0.3s;
   */
}

/* Custom styles for the button on hover */
.custom-btn:hover {
  /* Change the button text color on hover */
  color: #fff; /* White or any desired color */
  border-color: #e08515;

  /* Change the button background color on hover */
  background-color: #fa9f2e; /* Primary color */
}

.welcome{
  margin-right: 16px;
  margin-top: 10px;
}

